<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yield Data</title>
</head>
<body>
    <h1>Yield Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Year</th>
                <th>Harvest</th>
            </tr>
        </thead>
        <tbody>
            {% for record in yield_data %}
            <tr>
                <td>{{ record.year }}</td>
                <td>{{ record.harvest }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
